@charset "UTF-8";

/* ------------------------- */
body {
  font-family: "Hiragino Mincho Pro", "Arial", "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 13px;
  font-style: normal;
  letter-spacing: .1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  vertical-align: top;
}


/* header */

header{
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  z-index: 90;
}

.header-wrapper{
  width: 95%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  width: 25%;
}

.header-title h1 a{
  display: block;
  color: #014099;
  font-size: 20px;
  font-family: "Alegreya Sans SC";
  letter-spacing: 0;
}

.g-navi{
  width: 75%;
}

.g-navi>ul{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.g-navi>ul>li{
  flex-basis: 14.28%;
  font-size: 14px;
  text-align: center;
  /* position: relative; */
}

.g-navi>ul>li>a{
  display: block;
  padding: 25px 0;
}

.g-navi>ul>li:last-child a{
  display: block;
  color: #fff;
  padding: 8px 0;
}

.g-navi>ul>li a:hover{
  opacity:0.5;
  transition: .1s;
}

.ac-menu a{
  position: relative;
}

.ac-menu>a:before, .ac-menu>a:after{
  content: "";
  width: 10px;
  height: 1px;
  background: #014099;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.ac-menu>a:after{
  transform: translateY(-50%) rotate(90deg);
}

.ac-menu a.active:after{
  opacity: 0;
  transition: .3s;
}

.ac-menu-list{
  display: none;
  background-color: #f0f8ff;
  padding: 20px;
  margin-bottom: 20px;
  position: absolute;  /*g-naviから*/
  top: 70px;
  left: 0;
  width: 100%;
}

.ac-menu-list>li{
  margin-bottom: 30px;
}

.ac-menu-list>li:last-child {
  margin-bottom: 0;
}

.ac-menu-list li a{
  display: block;
  padding: 0;
}

.nav-web{
  height: 35px;
  background-color: #a52a2a;
}

.nav-tel{
  height: 35px;
  background-color: #014099;
}

.sp{
  display: none;
}

/* main */

/* 共通CSS */
main{
  padding-top: 70px;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  padding: 50px;
}

.text-wrapper{
  position: relative;
  overflow: hidden;
  width: 300px;
  padding-bottom: 30px;
}

/* .text-wrapper.active:after{
  position: absolute;
  content: "";
  left: 0;
  bottom: 25px;
  background-color: #0066CC;
  width: 100%;
  height: 10%;
  transform: translateX(-100%);
  animation-name: text_wrapper_slide;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  z-index: 1;
  opacity: .3;
}

@keyframes text_wrapper_slide{
  0% {
    transform-origin:left;
    transform:scaleX(0);
  }
  50% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50.001% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(100);
  }
} */

.sec-title{
  position: relative;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Caveat';
  line-height: 45px;
  display: inline-block;
}

.sec-title:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 0%;
  height: 6px;
  background: #0066CC;
  transition: all 1s;
  opacity: .5;
}

.sec-title.active:after{
  width: 105%;
}

.sec-sub-title{
  font-size: 30px;
  font-family: 'Caveat';
}

.sec-ja-title{
  font-size: 15px;
}

.sub-ja-title{
  font-size: 18px;
  line-height: 70px;
}

.about-text{
  font-size: 14px;
  line-height: 33px;
  letter-spacing: 0.1em;
}

.btn-more{
  display: inline-block;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  padding: 10px 40px;
  font-size: 16px;
}

.btn-more:hover{
  background-color: #000;
  color: #fff;
  transition: .5s;
}

.fa-arrow-circle-o-right{
  padding-left: 8px;
}

.fadeUpTrigger{
  opacity: 0;
}
.fadeUpTrigger.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeLeftTrigger{
  opacity: 0;
}
.fadeLeftTrigger.fadeLeft{
  animation-name:fadeLeftAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

@keyframes fadeLeftAnime{
  from {
    opacity: 0;
	transform: translateX(-30px);
  }

  to {
    opacity: 1;
	transform: translateX(0);
  }
}

.fadeRightTrigger{
  opacity: 0;
}
.fadeRightTrigger.fadeRight{
  animation-name:fadeRightAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

@keyframes fadeRightAnime{
  from {
    opacity: 0;
	transform: translateX(30px);
  }

  to {
    opacity: 1;
	transform: translateX(0);
  }
}


/* slider */
.slider{
  width: 95%;
  height: 85vh;
  margin: 0 auto;
}


/* concept */
.concept-wrapper{
  width: 60%;
  margin: 0 auto;
  padding: 100px 50px 50px 50px;
}

.concept-title{
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 33px;
  padding-bottom: 35px;
}

/* recommend  takeout*/
#recommend, #takeout{
  display: flex;
  align-items: center;
}

.recommend-img, .takeout-img{
  width: 50%;
  height: auto;
}

.recommend-text, .takeout-text{
  width: 50%;
  padding: 20px;
}

.recommend-text p, .takeout-text p{
  padding: 50px 0;
}

#takeout{
  background-color: #f0f8ff;
}

/* news */
#news{
  background-color: #f0f8ff;
}

#news ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#news ul li{
  width: 33.3%;
}

.news-box{
  display: flex;
  align-items: center;
  color: #014099;
}

.news-box:hover{
  color: #a52a2a;
  transition: 1s;
}

.news-img{
  width: 40%;
  height: auto;
  border: 2px solid #000;
  background-color: #fff;
}

.news-text{
  width: 60%;
  padding: 3% 4%;
}

.news-text time{
  font-size: 10px;
}

.news-text p{
  font-size: 13px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* menu   special*/
.menu-flex, .special-flex{
  display: flex;
}

.menu-box, .special-box{
  width: 50%;
  padding: 10px;
}

.menu-text, .special-text{
  padding: 20px 10px;
}

.special-text p{
  height: 200px;
}

/* recruite */
#recruite{
  background-color: #f0f8ff;
  margin-bottom: 50px;
}

#recruite a{
  color: #014099;
}

.recruite-wrapper{
  display: flex;
}

.recruite-box{
  width: 33.3%;
  height: auto;
  padding: 20px;
}

.recruite-text{
  font-size: 14px;
  padding-top: 10px;
}

.recruite-box a:hover .recruite-text{
  color: #a52a2a;
  transition: 1s;
}



/* footer */
.footer-wrapper{
  background-color: #333333;
  padding: 20px 0;
}

.footer-top ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-box{
  width: 215px;
  height: 52px;
  margin: 5px;
  background-color: #000;
}

.footer-box a{
  display: block;
  height: 52px;
  padding: 10px;
  color: #fff;
  font-size: 10px;
  text-align: center;
}

.footer-botom{
  padding-top: 15px;
}

.footer-botom span{
  display: block;
  text-align: center;
  color: #fff;
  /* padding: 12px; */
  font-size: 16px;
  line-height: 28px;
}

.sp-footer-menu{
  display: none;
}


/* レスポンシブ */
@media screen and (max-width:768px){

  /* 共通パーツ */
  body{
    overflow-x: hidden;
  }

  .sp{
    display: block;
  }

  header{
    height: 70px;
    padding: 0 20px 0 30px;
  }

  .header-wrapper{
    display: none;
  }

  .header-wrapper-sp{
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main{
    padding-top: 70px;
  }

  .wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 30px;
  }

  .about-text{
    font-size: 13px;
    line-height: 30px;
  }

  .btn-more{
    width: 95%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  /* hamburger */
  .hamburger {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 100;
  }

  .hamburger span{
    display: block;
    position: absolute;
    width: 18px;
    left: 16px;
    border-bottom: solid 1px #014099;
    transition: 0.5s ease-in-out;
  }

  .hamburger span:nth-child(1){
    top: 18px;
  }

  .hamburger span:nth-child(2){
    top: 25px;
    width: 13px;
  }

  .hamburger span:nth-child(3){
    top: 32px;
  }

  .hamburger.active span:nth-child(1){
    top: 25px;
    transform: rotate(-45deg);
  }

  .hamburger.active span:nth-child(2){
    opacity: 0;
  }

  .hamburger.active span:nth-child(3){
    top: 25px;
    transform: rotate(45deg);
  }

  .hamburger-nav {
    position: fixed;
    background-color: #fff;
    text-align: left;
    top: 0;
    right: -280px;
    width: 280px;
    height: 100%;
    padding: 90px 0;
    transition: all 0.5s;
    overflow-y: auto;
    z-index: 80;
  }

  .hamburger-nav.active {
    right: 0;
  }

  .hamburger-nav>ul>li{
    /* display: block; */
    padding: 0 20px;
    font-size: 1.1em;
  }

  .hamburger-nav>ul>li>a{
    display: block;
    padding: 19px;
  }

  .ac-menu-list{
    position: static;
  }

  .ac-menu>a:before, .ac-menu>a:after{
    right: 100px;
  }

  .ac-menu a.active:after{
    opacity: 0;
    transition: .3s;
  }

  .nav-web, .nav-tel{
    height:59px;
  }

  .nav-web a, .nav-tel a{
    color: #fff;
  }

  .nav-sns{
    display: flex;
  }

  .nav-sns a{
    display: block;
  }

  .fab{
    font-size: 21px;
  }

  .mask{
    display: none;
  }

  .mask.active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .8;
    transition: all .5s;
    z-index: 70;
  }


  /* concept */
  .concept-wrapper{
    width: 95%;
    margin: 0 auto;
    padding: 100px 30px 50px 30px;
  }

  /* recommend  takeout*/
  #recommend, #takeout{
    flex-direction: column;
  }

  .recommend-img, .takeout-img{
    width: 100%;
  }

  .recommend-text, .takeout-text{
    width: 100%;
    padding: 0;
  }

 /* news */
  #news ul{
    flex-direction: column;
  }

  #news ul li{
    width: 100%;
    padding-bottom: 5px;
  }

  .news-text{
    padding: 9px 12px;
  }


  /* menu   special*/
  .menu-flex, .special-flex{
    flex-direction: column;
  }

  .menu-box, .special-box{
    width: 100%;
    padding: 10px;
  }

  .special-text p{
    height: auto;
  }


  /* recruite */

  #recruite{
    margin-bottom: 30px;
  }

  .recruite-wrapper{
    flex-direction: column;
  }

  .recruite-box{
    width: 100%;
  }

  .recruite-text{
    font-size: 13px;
  }


  /* footer */

  .footer-wrapper{
    /* margin-top: 30px; */
    padding: 15px 0;
  }

  .footer-top ul{
    flex-direction: column;
  }

  .footer-box{
    width: 100%;
  }

  .footer-botom{
    padding: 10px 0 50px 0;
  }

  .footer-botom span{
    font-size: 10px;
  }

  .sp-footer-menu{
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    z-index: 60;
  }

  .sp-footer-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sp-footer-menu ul li{
    width: 50%;
  }

  .sp-footer-menu ul li a{
    display: block;
    text-align: center;
    font-size: 11px;
    color: #fff;
    padding: 18px;
    height: 50px;
  }

  .sp-nav-tel{
    background-color: #6495ED;
  }

  .sp-nav-web{
    background-color: #a52a2a;
  }


}

/* ------------------------- */

/* contentページ */
.cont-wrapper{
  padding: 0 50px 50px 50px;
}

.cont-area{
  display: flex;
  align-items: center;
}

.cont-img{
  padding: 0 20px 20px 20px;
  width: 50%;
}

.cont-img img{
  width: 100%;
  height: auto;
}

.cont-text{
  padding: 20px;
  width: 50%;
}

.cont-title{
  font-size: 50px;
  font-family: 'Caveat';
}

.cont-ja-title{
  display: block;
  font-size: 18px;
  padding: 20px 0;
}

.cont-about-text{
  font-size: 14px;
  line-height: 33px;
  letter-spacing: 0.1em;
  padding: 20px 10px;
}

.cont-btn{
  margin-bottom: 20px;
}

/* gallery */
#gallery{
  padding-top: 50px;
}

.cont-gallery ul{
  columns: 4;
  padding: 0 15px;
}

.cont-gallery li{
  margin-bottom: 20px;
}

.cont-gallery img{
  width: 100%;
  height: auto;
}

.cont-gallery img:hover{
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 15),0 0 5px rgba(0, 0, 0, 1);
}

/* dinner  wedding */
#cont-recommend, #wedding-plan{
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  background-color: #f0f8ff;
}

.wedding-about-text{
  font-size: 14px;
  line-height: 33px;
  letter-spacing: 0.1em;
  padding: 0 10px 15px 10px;
}

.wedding-plan-top{
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  letter-spacing: .1em;
}

.wedding-plan-top span{
  display: block;
  font-size: 18px;
  padding: 15px 10px;
  position: relative;
}

.wedding-plan-top span:after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  content: '';
  background-image: -webkit-repeating-linear-gradient(135deg, #000, #000 1px, transparent 2px, transparent 5px);
  background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 2px, transparent 5px);
  /* background-size: 70px 70px; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.plan-img{
  padding: 0;
}

.cont-flex{
  flex-direction: row-reverse;
}

/* message */
.slider2{
  width: 90%;
  height: 470px;
  margin: 0 auto;
  position: relative;
}

.slider-text{
  position: absolute;
  top: 20%;
  left: 38%;
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  padding: 105px 0;
}

.slider-text span{
  display: inline-block;
  font-size: 30px;
  /* font-family: 'Kiwi Maru'; */
}

/* .s1, .s2 {
display:inline-block;
overflow:hidden;
white-space:nowrap;
width:0%;
} */

/* .s1 {
animation:s1 3s infinite;
}
@keyframes s1 {
      from { width:0em; }
      33% { width: 6em; }
      to { width:100%; }
}
.s2 {
animation:s2 4s infinite;
}
@keyframes s2 {
      0% { width:0em; }
      33% { width:0em; }
      66% { width:8em; }
      to { width:100%; }
} */



.slide-items {
  width: 100%;
  height: 100%;
  filter: drop-shadow(10px 10px 7px #CCC);
}

.slide-items img {
  width: 100%;
  object-fit: cover;
}

#cont-message{
  padding: 100px 50px 50px 50px;
  text-align: center;
}

#message-area{
  padding-top: 50px;
}

.message-box{
  display: flex;
  align-items: center;
  padding: 3%;
}

.message-title{
  /* font-family: 'Kiwi Maru'; */
  font-size: 25px;
  font-weight: normal;
  line-height: 50px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  margin-bottom: 15px;
}



@media screen and (max-width:768px){
  .cont-wrapper{
    padding: 0 30px 30px 30px;
  }

  .cont-area{
    flex-direction: column;
  }

  .cont-img{
    padding: 0 0 20px 0;
    width: 100%;
  }

  .cont-img img{
    width: 100%;
    height: auto;
  }

  .cont-text{
    padding: 0 0 20px 0;
    width: 100%;
  }

  .cont-about-text{
    font-size: 13px;
  }

  .cont-btn{
    margin-bottom: 5px;
  }

  #gallery{
    padding-top: 30px;
  }

  .cont-gallery ul{
    columns: 2;
  }

  #cont-recommend, #wedding-plan{
    width: 100%;
    margin: 0 auto;
    padding: 30px;
  }

  /* .rec-img{
    padding: 20px;
  }

  .rec-text{
    padding: 20px;
  } */

  .btn-pc{
    display: none;
  }

  .wedding-text{
    padding-bottom: 50px;
  }

  .wedding-about-text{
  font-size: 13px;
}

  /* message */
  .slider2{
    width: 95%;
  }

  .slider-text{
    position: absolute;
    top: 30%;
    left: 35%;
    width: 150px;
    height: 150px;
    padding: 50px 0;
  }

  .slider-text span{
    display: inline-block;
    font-size: 17px;
    /* font-family: 'Kiwi Maru'; */
  }

  #cont-message{
    padding: 100px 30px 50px 30px;
    text-align: left;
  }

  #message-area{
    padding-top: 30px;
  }

  .message-box{
    flex-direction: column;
    padding: 40px 0 40px 0;
  }

  .message-title{
    /* font-family: 'Kiwi Maru'; */
    font-size: 18px;
    line-height: 35px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

}
